@font-face {
  font-family: futura;
  src: url(font/futura/UniversalisADFStd-Regular.otf);
}

body {
  margin:0;
  text-align:center;
  background:#147abe;
  font-family:futura;
  cursor: default;
}

.app {
  width:100vw;
  position:relative;
  box-sizing:border-box;
}

.location {
  background:#147abe;
  text-align:center;
  color:#fff;
  padding:15px 0;
  font-size:20px;
  position:fixed;
  width:100%;
  z-index:100;
}

.sun,.sun2 {
  position:absolute;
  top:280px;
  padding:5px 15px;
  font-size:18px;
  font-weight:400;
  color:#fff;
}

.sun2 {
  right:0;
}

.sunTime {
  font-size:14px;
}

.mainTemp {
  position:absolute;
  top:200px;
  width:100%;
  color:#fff;
  font-size:20px;
}

.temp {
  font-size:45px;
  font-weight:100;
}

#sunCanvas {
  position:absolute;
}

.weather1,.weather2 {
  margin-top:410px;
  display:inline-block;
  padding:0px;
  color:#fff;
  font-size:16px;
  width:140px;
  margin-bottom:47px;
}

.weather1 {
  border-right:1px solid rgba(255,255,255,0.5);
  width:139px;
}

.weather1 i,.weather2 i {
  font-size:30px;
  display:inline-block;
  padding:5px;
}

.InfoTable {
  width:100%;
  table-layout:fixed;
  text-align:left;
  background:#126eab;
  color:#fff;
  font-size:17px;
  border-bottom:1px solid rgba(255,255,255,0.5);
}

.InfoTable td:nth-child(odd) {
  border-right:1px solid rgba(255,255,255,0.5);
  box-sizing:border-box;
}

.InfoTable td:nth-child(1),.InfoTable td:nth-child(2){
  border-top:1px solid rgba(255,255,255,0.5);
}

.InfoTable tr td i {
  display:inline-block;
  float:left;
  font-size:32px;
  padding:15px 15px 30px 20px;
}

.InfoTable tr td p {
  font-weight:300;
}

.InfoTable tr td span {
  font-weight:100;
  display:inline-block;
  padding-top:10px;
}

.ForecastTable {
  width:100%;
  table-layout:fixed;
  color:#fff;
  margin-top:80px;
}

.ForecastTable caption {
  font-size:15px;
  padding:5px;
  font-family:monospace;
  background:#126eab;
  border-top:1px solid rgba(255,255,255,0.5);
}

.ForecastTable tr td {
  border-bottom:1px solid rgba(255,255,255,0.5);
  font-size:18px;
}

.ForecastTable span {
  color: #eee;
}

.ForecastTable tr:nth-child(1) td {
  border-top:1px solid rgba(255,255,255,0.5);
  font-size:10px;
}

.ForecastTable tr:nth-child(even){
  background:#126eab;
}

.tooltip {
  display:inline-block;
  position:absolute;
  width:40px;
  color:#fff;
  text-align:center;
  font-size:14px;
  left:0;
}

#tempGraph {
  position:absolute;
  left:0;
  top:10px;
}

.searchButton,.settingsButton {
  position:absolute;
  background:transparent;
  height:30px;
  width:30px;
  border:none;
  outline:none;
  font-size:18px;
  top:12px;
  color:#fff;
}

.searchButton {
  left:10px;
}

.settingsButton {
  right:11px;
}

.searchCity {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  padding-top:15px;
  background:#147abe;
}

#searcField {
  width:90%;
  height:30px;
  display:inline-block;
  position:absolute;
  left:0;
  border:none;
  padding-left:40px;
  background:transparent;
  outline:none;
  font-size:18px;

}

#searchInp {
  background:#fff;
  width:90%;
  height:30px;
  display:inline-block;
  position:relative;
  border:1px solid #444;
  border-radius:3px;
  overflow:hidden;
  padding:5px 0;
}

.searchIcon {
  position:absolute;
  top:0;
  left:0;
  display:inline-block;
  height:100%;
  width:40px;
  font-size:25px;
  border:none;
  outline:none;
  background:transparent;
  color:#999;
}

#cityMatches {
  margin:0;
  padding:0 5%;
  list-style-type:none;
  background:#147abe;
  font-weight:300;
  height: auto;
  overflow-y:scroll;
}

#cityMatches li{
  background:transparent;
  text-align:left;
  padding:10px 0;
  font-size:17px;
  border-bottom:1px solid #fff;
  cursor: pointer;
}

#loadIcon,#cancelIcon {
  position:absolute;
  display:inline-block;
  right:0;
  padding:5px 10px;
  color:#000;
  font-size:20px;
}

#cancelIcon {
  font-size:30px;
  top:1px;
  color:red;
}

.settings {
  background:red;
  position:absolute;
  top:0;
}

.suggestDiv {
  position: fixed;
  height: 100px;
  width: 100%;
  z-index: 100;
  bottom: 0;
  margin: 0;
  padding: 0;
  text-align: center;
}

.suggestContent {
  display: inline-block;
  background: #000;
  height: 100%;
  position: relative;
  color: #fff;
}

.suggestTextCnt a {
  color: #f00;
  text-decoration: none;
}

.suggestTextCnt {
  margin: 20px 40px;
}

.suggestBtnCnt {
  text-align: right;
  width: 100%;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.btnCancel,.btnProceed {
  padding: 8px 30px;
  outline: none;
  cursor: pointer;
  border: none;
}

.btnCancel {
  background: transparent;
  color: #0c56f1;
}

.btnProceed {
  background: #14b150;
  color: #fff;
}
